.desktop-logo{
    display: inline;
}
.tablet-logo{
    display: none;
}
.mobile-logo{
    display: none;
}

nav {
    font-size: 150%;
    background-color: black;
    height: fit-content;
    margin: 0;

}

nav ul {
    list-style-type: none;
    margin:0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: orange;
    background-color: rgb(0 0 0 / 70%);
    border: 2px solid white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: sans-serif;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: green;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size:xx-large;
    color: white;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    overflow: auto;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#gallery-item{
    flex: 1 1 calc(33.33% - 20px); /* Ensures 3 images per row with a gap between */
    box-sizing: border-box;
    text-align: center;
}

#gallery-item img {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

#gallery-item img:hover {
    transform: scale(2.0); /* Increase size by 20% on hover */
}

footer {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: whitesmoke;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
@media screen and (max-width: 600px) {
    .desktop-logo {
        display: none;
    }
    .tablet-logo{
        display: none;
    }

    .mobile-logo {
        display: inline;

    }
    
    header{
        overflow: hidden;
    }

    nav {
        font-size: 120%; /* Slightly smaller font for mobile */
    }


    nav a {
        font-size: 1rem; /* Adjust font size for mobile */
        padding-left: 1em;
        padding-right: 1em;
    }

    h1 {
        font-size: 1.5rem; /* Make heading smaller */
    }
    #gallery-item img {
        max-width: 100%;
        border-radius: 8px;
    }
}

/* Tablet Styles */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .desktop-logo {
        display: none;
    }
    .tablet-logo{
        display: inline;
    }

    .mobile-logo {
        display: none;
    }

    nav {
        font-size: 130%; /* Slightly smaller font for tablet */
    }

    nav ul {
        flex-direction: row; /* Keep horizontal layout */
        justify-content: space-around; /* Adjust spacing for tablets */
    }

    nav a {
        font-size: 1.2rem; /* Slightly larger font size for tablet */
    }

    h1 {
        font-size: 2rem; /* Adjust heading size for tablet */
    }
}