.desktop-logo{
    display: inline;
}
.mobiletablet-logo{
    display: none;
}
header{
    text-align: center;}

nav{
    font-family: sans-serif;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: black;
    height: fit-content;
}
nav ul{
    list-style-type: none;          
    margin: 0; 
    padding: 0;              
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 50px;
    position: sticky;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 150%;
}
nav a:visited{
    color: white
}
nav a:hover{
    color: black;
    background-color: orange;
    
}
.eventinfo{
    text-align: center;
    font-size: 100%;
    font-family: sans-serif;
    font-style: italic;
    color: orange;
    background-color: rgb(0 0 0 / 70%);
    border: 2px solid white;
    margin-left: 175px;
    margin-right: 175px;
}
a[href^="mailto:"]{ 
    font-family: sans-serif;
    color: white;
    font-size: 100%;
}
body { 
    background-color: black;
    background-image: url(./images/desktopbackgroundimage-pexels.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
h1{ 
    font-family: sans-serif;
    text-align: center;
    color: orange;
    text-shadow: 2px 2px black;
    margin-left: 250px;
    margin-right: 250px;
}
table, th, td{
    border: 1px inset black;
    font-family: sans-serif;
    align-items: center;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

#video-container{ 
    display: grid;
    justify-content: center;
    align-items: center;      
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    font-family: sans-serif;
    font-style: bold;
    font-size: 100%;
    color: white;
    text-shadow: 2px 2px black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    color: black;
    background-color: orange;
    width: auto;
}
label{
    width: auto;
    font-family: sans-serif;
}
button:hover{
        background-color: #218838;
}
aside {
    display: none;
}
#wrapper{
    display: grid;
    grid-template-columns: 150px, 150px, 150px, 150px;
    grid-template-rows: 150px 150px 50px;
}
header{
    grid-row: 1 / 2; grid-column: 1 / 4;
}
nav{
    grid-row: 3 / 4; grid-column: 1 / 4
}
main{
    grid-row: 5 / 6; grid-column: 1 / 4;
}
aside{
    grid-row: 5 / 6; grid-column: 3/ 4;
}
footer{
    grid-row: 6 / 7; grid-column: 1 / 4;
}

@media only screen and (max-width: 430px) {
    
.desktop-logo{
    display: none;
}
.mobiletablet-logo{
    display: inline;
}

nav ul{
    gap: 10px;
}
nav a:link{
    font-size: 90%;
}
h1{
    margin-left: 75px;
    margin-right: 75px;
}
.eventinfo{
    padding: 0.8em;
    font-size: 75%;
    margin-left: 75px;
    margin-right: 75px;
}

#table{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
iframe {
    width: 100%;    
    height: auto;   
  }
body{
    background-image: url(./images/mobilebackgroundimage-pexels.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: scroll;  /*changed to scroll for mobile optimisation*/
}
footer {
    font-size: 90%;
}
}

@media (max-width: 1024px) {

.desktop-logo{
    display: none;
}
.mobiletablet-logo{
    display: inline;
}
nav ul li{
    text-align: center;
     margin: 0 5px;
}
main{
    margin: 5px;
    padding: 0.8em;
    font-size: 75%;
}
footer{
    font-family: sans-serif;
    font-style: bold;
    color: white;
    text-shadow: 2px 2px black;
}}